.title-colomn{
	display: flex;
justify-content: space-between;
padding: 15px;
   background-color: white;
  border: 2px solid rgba(8, 8, 8, 0.473);
  font-size: 20px	;
  margin-left: 10px;

}
.button-like{
    padding: 20px;
    margin-left:130px;
    margin-top: -100px;
    cursor: pointer;}
    .button-remove
    {margin-left:20px;
      margin-top: 90px;
      cursor: pointer;}
   

.ima{
  margin-left:15px;
    height:140px;
    width: 140px;
}
.items {
    display: flex;
    font-size: 18px	;
    padding: 25px;
  border-bottom: 2px solid rgba(8, 8, 8, 0.473);}
  .description
  {margin-left:150px;
  margin-top:60px ;}
  .unit
  {margin-left:385px;
    margin-top:60px ;
  }
  .-quantity-
  {
    display:flex;
    margin-left:400px;
    margin-top:60px ;
  }
 